<div class="site-wrapper" id="latest">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="inner cover row-fluid">
                {% include '_index_latest_event.twig' %}

                <div class="col-md-2"></div>

                {% include '_index_latest_post.twig' %}

            </div> <!-- .inner.cover -->

        </div> <!-- .cover-container -->
    </div> <!-- .site-wrapper-inner -->
</div> <!-- .site-wrapper -->
