<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">
            <img src="{{ paths.theme }}assets/images/logo-white.png" alt="">
        </h3>
        {{ menu('main_index', '_menu_main_index.twig') }}
    </div> <!-- .inner -->
</div> <!-- .masthead -->
