{% include '_head.twig' %}


<div class="site-wrapper" id="error-pages">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="inner cover">
                <img src="../assets/images/logo-white.png" alt="">
                <h1>
                    Sorry, this page doesn't exist. <br> You can either <a href="">go back</a> or go to sleep
                </h1>
            </div> <!-- .inner.cover -->

            <div class="mastfoot">
                <div class="inner">
                    <p>
                        Also you can find our Official Account on
                        <a href=""><i class="fa fa-twitter"></i> Twitter</a>,
                        <a href=""><i class="fa fa-facebook"></i> Facebook</a>,
                        <a href=""><i class="fa fa-github"></i> Github</a>, and
                        <a href=""><i class="fa fa-slack"></i> Slack Channel</a>,
                    </p>
                </div> <!-- .inner -->
            </div> <!-- .mastfoot -->

        </div> <!-- .cover-container -->
    </div> <!-- .site-wrapper-inner -->
</div> <!-- .site-wrapper -->

{% include '_footer.twig' %}
